  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&family=Ubuntu:ital,wght@0,300;0,500;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.logo{
    width: 20%;
    text-align: center;

}
.logo img{
    width: 33%;
    background-image: cover;
    border: 3px solid white;
    border-radius: 5px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}
.nav-list{
    width: 50%;
    display: flex;
    align-items: center;
    padding: 0 23px;


}
.nav-list li{
    list-style: none;
    padding: 26px 30px;
}
.nav-list li a{
    text-decoration: none;
    color: white;

}
.nav-list li a:hover{
    color: wheat;
    /* font-size: 22px; */


}
.rightNav{
    width: 50%;
    text-align: right;
    padding: 0 23px;
}
#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid gray;
    border-radius: 4px;
}
.background{
    background:rgba(32, 28, 28, 0.7) url(./bgg.jpg);
    background-size: cover;
    background-blend-mode: darken;

}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(243, 248, 250);
    max-width: 50%;
    margin: auto;
    height: 70%;
}
.firstSection{
    height: 100vh;
}
.half1{
    font-family: 'Ubuntu', sans-serif;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.half2{
    
    width: 30%;
}
.half2 img{
    width: 70%;
    border: 4px solid white;
    border-radius: 200px;
    display: block;
    margin: auto;
}
.textbig{
    font-size: 41px;

}
.textsmall{
    font-size: 18px;

}
.btn{
    padding: 8px 20px;
    margin: 7px 3px;
    border: 2px solid gray;
    border-radius: 8px;
    color: white;
    cursor: pointer;;
    background: none;

}
.secRight{
    font-family: 'Ubuntu', sans-serif;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
}
.paras{
    padding: 0px 65px;
}
.secLeft{
    height: 350px;
    font-family: 'Ubuntu', sans-serif;
  display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: -40px auto;
}
.thumb img{
    width: 250px;
    border: 2px solid black;
    border-radius: 26px;
    margin-top: 25px;

}
.contact{
    font-family: 'Ubuntu', sans-serif;
    padding: 15px;
    background-color: rgb(194, 183, 168);
    height: 74vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-input{
    display: block;
    width: 450px;
    font-size: 19px;
    margin: 20px 0;
    border: 2px solid black;
    border-radius: 10px;
    padding: 2px 5px;
}

.text-footer{
    text-align: center;
    padding: 20px 0;
    font-family: 'Ubuntu', sans-serif;
    color: white;

}
.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}
.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;

}

@media only screen and (max-width : 1200px){
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        height: 420px;
        flex-direction: column;
        transition: all 0.2s ease-out;

    }
    .rightNav{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .burger{
        display: block;
    }
    .h-nav{
        height: 60px;
    }
    .v-nav{
        opacity: 0;
    }
    .box{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .secLeft{
        flex-direction: column-reverse;
        height: 112vh;
      
    }
    .secRight{
        flex-direction: column;
        height: 112vh
    }
  .paras{
    padding: 0;
  }
  .form-input{
    width: 90%;
  }
}
